<nav class="navbar navbar-default">
	<div class="container">
	    <div class="navbar-header">
	        <a class="navbar-brand" href="/#/">{{ general.title }}</a>
	    </div>
	
	    <ul class="nav navbar-nav navbar-right">
	        <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
	        <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
	        <li><a href="#comment"><i class="fa fa-comment"></i> Comment</a></li>
	        <li><a href="#admin"><i class="fa fa-wrench"></i> Admin</a></li>
	    </ul>
	</div>
</nav>
<div class="row app-subheading">
	<div ng-if="general.subheading" class="col-sm-12 text-center"><h3>{{ general.subheading }}</h3></div>
</div>