<!-- admin.html -->
<div class="row">
    <div class="col-sm-6">
        <h3>Mode</h3>
        <form novalidate>
            <input type="button" class="btn btn-default" ng-show="!user.isAdmin" ng-click="changeMode('admin')" value="Enable Admin" />
            <input type="button" class="btn btn-default" ng-show="user.isAdmin" ng-click="changeMode('user')" value="Disable Admin" />
        </form>        
    </div>
    <div class="col-sm-6">
        <h3>Redirects</h3>
        <form novalidate>
            <input type="button" class="btn btn-default" ng-click="requestRedirect('home')" value="Home" />
            <input type="button" class="btn btn-default" ng-click="requestRedirect('about')" value="About" />
            <input type="button" class="btn btn-default" ng-click="requestRedirect('logs')" value="Logs" />
        </form>
    </div>
</div>
